@page "/kunde/{KundeID:int}/rechnung/{RechnungID:int}"

@using LittleFlowerERP.Models
@using Microsoft.EntityFrameworkCore
@inject ERPLittleFlowerBlazor.Data.AppDbContext _context

<h3>Rechnungsdetail </h3>

@if (rechnungspositionen == null)
{
    <p><em>Lädt...</em></p>
}
else if (!rechnungspositionen.Any())
{
    <p>Keine Rechnungen gefunden.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Artikel</th>
                <th>Einzelpreis</th>
                <th>Menge</th>
                <th>RechnungspositionID</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in rechnungspositionen)
            {
                <tr @onclick="() => NavigateToArtikel(r.ArtikelID)" style="cursor:pointer">
                    <td>@r.Artikel.Beschreibung</td>
                    <td>@r.Einzelpreis</td>
                    <td>@r.Menge</td>
                    <td>@r.RechnungspositionID</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public int RechnungID { get; set; }
    [Parameter]
    public int KundeID { get; set; }

    private List<Rechnungsposition> rechnungspositionen = new List<Rechnungsposition>();

    [Inject]
    private NavigationManager Nav { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        rechnungspositionen = await _context.Rechnungspositionen
        .Include(r => r.Artikel)
        .Where(r => r.RechnungID == RechnungID)
        .ToListAsync();
    }

    private void NavigateToArtikel(int ArtikelID)
    {
        Nav.NavigateTo($"/artikel/{ArtikelID}");
    }
}